#chatContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#chatDisplay {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  border: 1px solid black;
}

#chatBarContainer {
  width: 100%;
}

#chatBar {
  width: 775px;
  margin-left: auto;
  margin-right: auto;
}

#chatName {
  width: 100px;
}

#chatText {
  width: 450px;
}
